@font-face {
    font-family: 'Terminus';
    font-style: normal;
    font-weight: 400;
    src: local('Terminus'), url('https://debianprogrammer.github.io/TerminusTTF-4.49.1.ttf') format('truetype');
}

.center {
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

#mb {
	color: white;
	cursor: pointer;
	padding: 1rem;
	border:2px outset;
	text-decoration: none;
	text-align: center;
	border-radius: 1rem;
	transition: 0.5s;
}

#mb:hover {
	background: black;
}

html {
	background-image: linear-gradient(to right, #000000, #5e81ac);
	color: white;
	overflow: hidden;
	font-family: "Terminus";
	font-size: 9px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: black;
	text-align: center;
	border: none;
}
