html {
    background-color: black;
    background-image: url("star-field.jpg");
}

#top {
    border: 2px outset white;
    width: 1000px;
    text-align: center;
    margin: auto;
    color:white;
    background-color: black;
}

#buttons {
    margin: auto;
    text-align: center;
}

a {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    border:2px outset white;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
}

a:hover {
    transition: 0.5s;
    background-color: white;
    color: black;
}
